@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* contains some group of styles relating to profile pic */
  .profile-pic {
    shape-outside: circle(46%);
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 30vw;
    margin: 2rem;
  }

  /* styles.css */
  .custom-scrollbar {
    scrollbar-width: thin; /* makes the scrollbar thinner */
    scrollbar-color: #012760 #000000; /* thumb color and track color */
    overscroll-behavior-y: contain;
    overflow: scroll;
  }

  /* For Webkit browsers (Chrome, Safari, Edge) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #012760;
    border-radius: 0.625rem;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 0.625rem;
  }

}
