@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Customize scrollbar for Webkit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1f2937; /* Custom scrollbar thumb color */
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #000000; /* Custom scrollbar track color */
  }

  /* You can also style scrollbar for Firefox */
  html {
    scrollbar-width: auto;
    scrollbar-color: #1f2937 #000000; /* thumb color and track color for Firefox */
  }

  /* contains some group of styles relating to profile pic */
  .profile-pic {
    shape-outside: circle(46%);
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 30vw;
    margin: 2rem;
  }

  /* custom scrollbar styles */
  .custom-scrollbar {
    scrollbar-width: auto; /* makes the scrollbar thinner */
    scrollbar-color: #1f2937 #000000; /* thumb color and track color */
    overscroll-behavior-y: contain; /* ensures scrolling only happens on the modal and not the background as well */
    overflow-y: scroll;
    overflow: auto; /* ensures that scrolling happens only when necessary (i.e., if there's content to be scrolled to) */
  }

  /* For Webkit browsers (Chrome, Safari, Edge) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #1f2937;
    border-radius: 0.625rem;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 0.625rem;
  }

  /* mobile hamburger Styles */
  .hamburger {
    cursor: pointer;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  /* animates outline */
  .border-button {
    outline: solid 2px #6b7280;
    transition: outline linear;
  }

  /* active link */
  .active-link {
    text-decoration: underline;
    text-decoration-color: #1f2937;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.25rem;
  }

  .hover-link {
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-decoration-color: #1f2937;
    text-underline-offset: 0.25rem;
  }
}
