@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* contains some group of styles relating to profile pic */
  .profile-pic {
    shape-outside: circle(46%);
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 30vw;
    margin: 2rem;
  }
}
